.footer-link {
    display: inline;
}

.link-content {
    padding: 0.5em 0em;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.link-icon {
    padding-left: 1em;
}

.link-text {
    color: white;
    padding-left: 0.3em;
}